<%= simple_form_for [@list, @bookmark] do |f| %>

  <div>
    <%= f.association :movie %>
    <%= f.input :comment %>
  </div>

  <div class="btn btn-primary">
    <%= f.button :submit %>
  </div>

<% end %>
